.jumbotron {
    background-image: url("images/1.jpg");
    background-position: center;
    background-size: cover;
}

.jumbotron h3 {
    background-color: rgba(200, 200, 200, 0.4);
    border-radius: 10px;
}

form a {
    margin-left: 15px;
    margin-bottom: 10px;
    display: inline-block;
}

.courses div img, .course-lessons img, .category-courses img {
    max-height: 120px;
    margin: 0 auto;
}

.courses div h4 {
    text-align: center;
    padding-top: 20px;
}

footer {
    margin-top: 30px;
    background-color: silver;
    text-align: center;
}

form h4 {
    text-align: center;
    background-color: silver;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

iframe {
    display: block;
    margin: 0 auto;
}

.lesson-info {
    margin-top: 50px;
}

.lesson-info h3 {
    text-align: center;
}

.trainer img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.trainer .img {
    float: left;
    margin: 0 15px 15px 0;
}

.course-info {
    margin-top: 50px;
    margin-bottom: 50px;
}

.course-lessons li {
    margin: 20px 15px;
}

.profile-pic  {
    width: 200px;
    margin-top: 35px;    
    margin-left: 17px;
}

.btn-change {
    width: 200px;
    margin-top: 35px;    
    margin-left: 17px;
}