<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/site.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Education System</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="">
              <a href="authorized-home.html">Home</a>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="category.html">PHP Web</a>
                </li>
                <li>
                  <a href="category.html">Java Web</a>
                </li>
                <li>
                  <a href="category.html">Js Web</a>
                </li>
                <li>
                  <a href="category.html">C# Web</a>
                </li>
              </ul>
            </li>
            <li class="">
              <a href="my-courses.html">My Courses</a>
            </li>
            <li class="">
              <a href="my-profile.html">My Profile</a>
            </li>
            <li class="">
              <a href="admin-view.html">Admin Panel</a>
            </li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a>Hello, Username!</a>
            </li>
            <li class="">
              <a href="unauthorized-home.html">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <form>
        <div class="form-group">
          <label for="sel1">Choose couse</label>
          <select class="form-control" id="sel1">
            <option>React Js</option>
            <option>Angular</option>
            <option>Entity Framework</option>
            <option>ASP .NET</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Lesson image URl:</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Add video URL</label>
          <input type="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Add resource name</label>
          <input type="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Add resource URL</label>
          <input type="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="sel1">Choose teacher</label>
          <select class="form-control" id="sel1">
            <option>User 1</option>
            <option>User 2</option>
            <option>User 3</option>
            <option>User 4</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </main>

    <footer class="col-lg-12">
      <ul class="list-inline">
        <li>
          <a href="#">About Us</a>
        </li>
        <li>
          <a href="#">Contacts</a>
        </li>
        <li>
          <a href="#">Support</a>
        </li>
      </ul>
    </footer>
  </div>
</body>

</html>