<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/site.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Education System</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="">
              <a href="authorized-home.html">Home</a>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="category.html">PHP Web</a></li>
                <li><a href="category.html">Java Web</a></li>
                <li><a href="category.html">Js Web</a></li>
                <li><a href="category.html">C# Web</a></li>                        
              </ul>
            </li>
            <li class="">
              <a href="my-courses.html">My Courses</a>
            </li>
            <li class="active">
              <a href="my-profile.html">My Profile</a>
            </li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a>Hello, Username!</a>
            </li>
            <li class="">
              <a href="unauthorized-home.html">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <div class="row">
        <div class="col-lg-3">
          <img src="./images/profile-pic.png" alt="profile pic" class="profile-pic"> <br>
          <a href="edit-profile-form.html"><button type="button" class="btn btn-warning btn-change">Edit Profile</button></a>
        </div>

        <div class="col-lg-9">
          <h2>Username</h2>
          <div><strong>Description:</strong> -  Lorem ipsum dolor sit amet, no sit invenire principes laboramus, pro no solum lobortis, vim salutandi intellegam at. Et accusam mediocrem molestiae cum. An est nihil platonem reprehendunt, usu oblique philosophia definitionem ut, te purto nominavi volutpat sea. Ignota feugiat appareat eos et, modus viderer et mei. Ex vix persius mandamus. No everti verear mei.
            An ius veritus explicari maiestatis. Sint meliore id cum, eos te debet aliquid philosophia. Ad veri mentitum usu, ei latine ancillae mea, et mel illud vitae. Sed facilisi delicata no.
            Per in tamquam temporibus definitionem, nam no dolorem posidonium complectitur. Eu mazim qualisque usu, dicam qualisque assentior usu cu, pri ut albucius evertitur. Eripuit voluptatibus duo ad, ne nam tractatos tincidunt consetetur. Pro ne choro aliquam. Vel eros ferri quodsi an, cibo diceret in vis, te antiopam partiendo vel.
            An quo nisl adversarium, no vix assentior posidonium, tale viris pertinax ut eum. Nusquam mandamus salutatus sit an, ei eam fabulas accusata, nam an adhuc consul adipiscing. Dicit senserit eam ex. Sit ne posse suscipiantur, iusto exerci ignota pri ad. Ne augue albucius duo, nam alia definiebas philosophia ei. Eam fugit utinam an, veritus forensibus at mea, ea electram periculis cum.
            Id cibo dolorem temporibus per, ad eam aperiri commune. Ridens evertitur gloriatur in vis, mandamus imperdiet mea et, eos ad quot eripuit. Duo alii mutat modus ad, simul patrioque ad usu, pro habemus detraxit ex. His ea summo torquatos, sed ferri patrioque conclusionemque ut. Ea sonet periculis usu, augue utroque expetendis has cu.</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <h3>My past courses</h3>
          <ul>
            <li>React Js</li>
            <li>ASP .NET</li>
            <li>HTML & CSS</li>
          </ul>
        </div>
        <div class="col-lg-4">
          <h3>My ongoing courses</h3>
          <ul>
            <li>Angular</li>
            <li>ASP .NET</li>
            <li>HTML & CSS</li>
          </ul>
        </div>
        <div class="col-lg-4">
          <h3>My upcomming exams</h3>
          <ul>
            <li>HTML & CSS</li>
            <li>ASP .NET</li>
            <li>HTML & CSS</li>
          </ul>
        </div>
      </div>
    </main>
      

    <footer class="col-lg-12">
      <ul class="list-inline">
        <li>
          <a href="#">About Us</a>
        </li>
        <li>
          <a href="#">Contacts</a>
        </li>
        <li>
          <a href="#">Support</a>
        </li>
      </ul>
    </footer>
  </div>
</body>

</html>