<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Category Name</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="#">Education System</a>
                </div>
                <ul class="nav navbar-nav">
                  <li class="">
                    <a href="authorized-home.html">Home</a>
                  </li>
                  <li class="dropdown active">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="category.html">PHP Web</a></li>
                      <li><a href="category.html">Java Web</a></li>
                      <li><a href="category.html">Js Web</a></li>
                      <li><a href="category.html">C# Web</a></li>                        
                    </ul>
                  </li>
                  <li class="">
                    <a href="my-courses.html">My Courses</a>
                  </li>
                  <li class="">
                    <a href="my-profile.html">My Profile</a>
                  </li>
                  
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <a>Hello, Username!</a>
                  </li>
                  <li class="">
                    <a href="#">Logout</a>
                  </li>
                </ul>
              </div>
            </nav>
          </header>

        <main>
            <div class="category-courses">
                <h2 class="text-center">Category name</h2>
                <ul class="list-inline text-center">
                    <li>
                        <a href="course.html">
                            <img src="images/ef.png">
                            <h4 class="text-center">Course name</h4>
                        </a>
                    </li>
                    <li>
                        <a href="course.html">
                            <img src="images/ef.png">
                            <h4 class="text-center">Course name</h4>
                        </a>
                    </li>
                    <li>
                        <a href="course.html">
                            <img src="images/ef.png">
                            <h4 class="text-center">Course name</h4>
                        </a>
                    </li>
                    <li>
                        <a href="course.html">
                            <img src="images/ef.png">
                            <h4 class="text-center">Course name</h4>
                        </a>
                    </li>
                    <li>
                        <a href="course.html">
                            <img src="images/ef.png">
                            <h4 class="text-center">Course name</h4>
                        </a>
                    </li>
                    <li>
                        <a href="course.html">
                            <img src="images/ef.png">
                            <h4 class="text-center">Course name</h4>
                        </a>
                    </li>
                    <li>
                        <a href="course.html">
                            <img src="images/ef.png">
                            <h4 class="text-center">Course name</h4>
                        </a>
                    </li>
                    <li>
                        <a href="course.html">
                            <img src="images/ef.png">
                            <h4 class="text-center">Course name</h4>
                        </a>
                    </li>
                    <li>
                        <a href="course.html">
                            <img src="images/ef.png">
                            <h4 class="text-center">Course name</h4>
                        </a>
                    </li>
                    <li>
                        <a href="course.html">
                            <img src="images/ef.png">
                            <h4 class="text-center">Course name</h4>
                        </a>
                    </li>
                    <li>
                        <a href="course.html">
                            <img src="images/ef.png">
                            <h4 class="text-center">Course name</h4>
                        </a>
                    </li>
                    <li>
                        <a href="course.html">
                            <img src="images/ef.png">
                            <h4 class="text-center">Course name</h4>
                        </a>
                    </li>
                    <li>
                        <a href="course.html">
                            <img src="images/ef.png">
                            <h4 class="text-center">Course name</h4>
                        </a>
                    </li>
                    <li>
                        <a href="course.html">
                            <img src="images/ef.png">
                            <h4 class="text-center">Course name</h4>
                        </a>
                    </li>
                </ul>
            </div>
        </main>

        <footer class="col-lg-12">
            <ul class="list-inline">
                <li>
                    <a href="#">About Us</a>
                </li>
                <li>
                    <a href="#">Contacts</a>
                </li>
                <li>
                    <a href="#">Support</a>
                </li>
            </ul>
        </footer>
    </div>
</body>

</html>