<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" >
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Education System</a>
                </div>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="unauthorized-home.html">Home</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="register.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <form class="col-lg-6 col-lg-offset-3" action="authorized-home.html">
            <h4>Register</h4>
            <div class="form-group">
                <input type="text" class="form-control" id="username" name="username" placeholder="Username">
            </div>

            <div class="form-group">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
            </div>

            <div class="form-group">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>

            <div class="form-group">
                <input type="password" class="form-control" id="repeat-password" name="repeat-password" placeholder="Repeat password">
            </div>
            <button type="submit" class="btn btn-primary pull-left">Register</button>
            <a href="login.html"  class="btn btn-primary pull-right">Already have an account?</a>
        </form>
    </main>

    <footer class="col-lg-12">
        <ul class="list-inline">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a href="#">Support</a></li>
        </ul>
    </footer>
</div>
</body>
</html>